*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #050c2b;
    padding: 20px;
    text-align: center;
}

header h1 {
    padding-bottom: 1rem;
    margin: 0;
    font-size: 36px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #ffffff;
    color: #050c2b;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#proyectos ul li:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

#proyectos {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

#proyectos h2 {
    padding-bottom: 1.5rem;
    font-size: 36px;
    margin: 0;
}

#proyectos ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#proyectos li {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    transition: transform 0.3s ease-in-out;
}

#proyectos li:hover {
    transform: scale(1.1);
}


#proyectos li {
    width: calc(50% - 20px);
    margin-bottom: 40px;
}

#proyectos a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

#proyectos img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

#sobre-mi {
    padding: 80px 0;
  }
  
  #sobre-mi h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  #sobre-mi .contenedor {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #sobre-mi img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 30px;
    float: left;
  }
  
  #sobre-mi p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  #sobre-mi .contenido::after {
    content: "";
    display: table;
    clear: both;
  }
  


#contacto {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

#contacto h2 {
    font-size: 36px;
    margin: 0;
}

#contacto p {
    font-size: 18px;
    line-height: 1.5;
}

#contacto a {
    color: #ffffff;
}


footer {
    background-color: #050c2b;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
}

  
  @media (max-width: 768px) {
    #proyectos li {
      width: 100%;
      margin-right: 0;
    }
  }

  @media (max-width: 475px) {
    #ulnav {
        display: flex;
        flex-direction: column;
    }
    #ulnav a {
        font-size: 1.5rem;
        
    }
    ul#ulnav{
        gap: 1rem;
    }

    #switch {
        width: 95%;
        
    }
  }
  